$color-neutral-010: #f7f8fa;
$color-neutral-020: #f2f3f5;
$color-neutral-030: #e6e7eb;
$color-neutral-100: #838da3;
$color-neutral-200: #6d788f;
$color-neutral-300: #53607a;
$color-neutral-400: #3d4b66;
$color-neutral-500: #303e5c;
$color-neutral-600: #243352;
$color-neutral-700: #1a2947;
$color-neutral-800: #11203d;
$color-neutral-900: #061533;

$color-red-050: #ffede3;
$color-red-100: #fde1d2;
$color-red-200: #fbbca6;
$color-red-300: #f48e79;
$color-red-400: #e96356;
$color-red-500: #db2323;
$color-red-600: #bc1927;
$color-red-700: #9d1129;